<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.deanishe.alfred-excel-demo</string>
	<key>connections</key>
	<dict>
		<key>25F3FD80-2195-4762-ABFC-F932FC6E4D7D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F8190BFB-EE2D-4336-B63B-ED56F9F47C3E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A0C099A5-36EB-441A-9D16-927D1E800C6C</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Paste ID to Active Application</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C8142EC5-8AFB-4D68-A246-B914D54A2A42</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AAD20D0C-2AD0-4FB9-872C-70A9A02AEBC6</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dean Jackson</string>
	<key>description</key>
	<string>How to use an Excel file as a Script Filter data source</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Excel Demo</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F8190BFB-EE2D-4336-B63B-ED56F9F47C3E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>demo</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching your Excel file…</string>
				<key>script</key>
				<string>/usr/bin/python search.py "{query}"</string>
				<key>subtext</key>
				<string>Search an Excel File</string>
				<key>title</key>
				<string>Excel Search Demo</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>25F3FD80-2195-4762-ABFC-F932FC6E4D7D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>A0C099A5-36EB-441A-9D16-927D1E800C6C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Copied to Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C8142EC5-8AFB-4D68-A246-B914D54A2A42</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Copied to Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>AAD20D0C-2AD0-4FB9-872C-70A9A02AEBC6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>25F3FD80-2195-4762-ABFC-F932FC6E4D7D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A0C099A5-36EB-441A-9D16-927D1E800C6C</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>AAD20D0C-2AD0-4FB9-872C-70A9A02AEBC6</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>C8142EC5-8AFB-4D68-A246-B914D54A2A42</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>F8190BFB-EE2D-4336-B63B-ED56F9F47C3E</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
